# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xiangmu\waimai-out\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
